.root {}

.glitch {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border-radius: var(--radius-full) !important;
  --glitch-overlay-opacity: 0.5;
}

@media (prefers-reduced-motion: reduce) {
  .glitch {
    --glitch-overlay-opacity: 0.32;
  }
}
